* {
    margin: 0;
    padding: 0;
}
body {
    background: #DADADA url(images/bg_body.gif) left top repeat-x;
    margin: 0 auto;
    font-family: verdana, arial, sans-serif;
}

.currbox_wrapper {
    margin: 0px 10px;
}
.currbox {
    width: 300px;
    height: 20px;
    padding: 6px 0 0 10px;
    margin: 0;
    background-color: #7ad3af;
}
select, option {
    background-color: #7ad3af;
    color: #000;
}
input[type=text] {
    margin: 8px;
    padding: 6px 0 0 10px;
    background-color: #7ad3af;
    border: 0;
    color: #52514e;
    font-weight: bold;
    font-size: 18px;
    border: 2px solid #8df5cb;
}
input[type=text]:focus {
    border: 2px solid #8df5cb;
    margin: 8px;
}
#exchanger {
    font-size: inherit;
    color: inherit;
    font-weight: inherit;
    background-color: inherit;
    margin-bottom: 10px;
    margin-left: 10px;
}
#exchanger td {
    padding: 5px 5px;
}
.currbox p {
    margin: 0;
    padding: 0;
}
.currbox:hover {
    background-color: #ddd;
}
.currcode {
    text-transform: uppercase;
}
.currbox_right {
    float: right;
}
#currsel_out {
    position: absolute;
    visibility: hidden;
}
#currsel_in {
    position: absolute;
    visibility: hidden;
}
.currsel_entry {
    width: 300px;
    height: 20px;
    padding: 6px 0 0 10px;
    background-color: #7ad3af;
}
.currsel_entry:hover {
    background-color: #ddd;
}

input[type=submit]{
    padding: 5px 20px;
    min-width: 80px;
    margin-left: 30px;
    color: #000000;
    background-color: #7ad3af;
    border: 3px solid #8df5cb;
}
input[type=submit]:hover {
    color: #017d4d;
    cursor: pointer;
}
tr.active, td.active {
    cursor: pointer;
}

/*---------------------------------
CONTENT
-----------------------------------*/
#content {
    margin: 0;
    padding: 0;
    width: 980px;
    background: url('images/panel_tile.png') repeat;
    width: 770px;
    min-height: 900px;
    height: 100%;
    left: 0px;
}
#content_sideshadow {
    background: url('images/panel_border.png') repeat-y top right;
    height: 100%;
    min-height: 900px;
    padding: 0;
}
.content_header {
    width: 750px;
    background-color: #00a462;
    font-size: 12px;
    font-weight: bold;
    color: #000000;
    padding: 5px;
}
.content_header_box {
    background: url('images/panel_tile.png') repeat;
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
}
.fancy_box {
    background: url('images/panel_tile.png') repeat;
}
.fancy_box .content_box {
    width: 600px;
    margin: 0 auto;
    padding-right: 20px;
    max-height: 600px;
    overflow: auto;
}
.content_box {
    width: 750px;
    font-size: 12px;
    color: #000000;
    border-bottom: 1px dashed #52514e;
    padding-bottom: 10px;
    /* WTFFF??? */
    padding-top: 1px;
}
.content_header a {
    color: #000;
}
.content_header a:hover {
    text-decoration: none;
}
.content_box ul li {
    margin: 8px 0 8px 40px;
}
.content_box p, .content_box h4 {
    margin: 8px 0 8px 20px;
}
.content_box label {
    display: block;
    width: 35%;
    min-width: 5em;
    margin: 0 0 0px 30px;
}
.content_box input[type=text] {
    margin-top: 0;
    width: 300px;
    display: block;
}
#price {
    display: inline;
    width: 200px;
}
#input_address {
    width: 452px;
}
.indent_form input[type=text] {
    margin-left: 30px;
}
#acc_num {
    display: inline;
    float: left;
}
#acc_sort {
    display: inline;
    float: left;
}
#acc_ref {
    display: inline;
    float: left;
}
#input_sort_code {
    width: 100px;
    display: inline !important;
}
#input_account_number {
    display: inline !important;
}

.content_box h3 {
    background: url('images/panel_tile_header.png') repeat;
    padding: 10px 0 10px 10px;
    margin: 10px 0 20px 10px;
    font-variant: small-caps;
    font-size: 15px;
    border-radius: 4px;
}
.content_box form {
    margin-bottom: 10px;
    margin-top: 10px;
}
.content_box a {
    color: #444;
    text-decoration: none;
}
.content_box a:hover {
    color: #000;
    text-decoration: underline;
}
.indent {
    padding-left: 10px;
}
.display_data {
    font-size: inherit;
    color: inherit;
    font-weight: inherit;
    border: 2px solid #8df5cb;
    background-color: #7ad3af;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
}
.display_data th, .display_data td {
    padding: 5px 5px;
    text-align: left;
}
tr {
    vertical-align: top;
}
tr.me {
    font-weight: bold;
    cursor: pointer;
}
tr.them {
    cursor: pointer;
}
td.right, th.right {
    text-align: right;
}
td.center, th.center {
    text-align: center;
}
blockquote {
    margin-left: 20px;
}
table {
    border-spacing: 0px;
}
.voucher {
    font-weight: bold;
    font-size: 18px;
    font-family: "Courier New", Courier, monospace;
    padding: 10px 20px;
}

/*---------------------------------
LINKS
-----------------------------------*/
#main_pane {
    position: absolute;
    top: 140px;
}
#links_bg {
    background-color: #52514e;
    width: 980px;
    min-height: 800px;
}

#links {
    width: 160px;
    position: absolute;
    top: 290px;
    left: 800px;
    padding-bottom: 0;
    font-size: 12px;
    color: #fff;
    z-index: 2;
}
#links a {
    display: block;
    text-decoration: none;
    font-weight:bold;
    color: #fff;
}
#links a:hover {
    // color: #4aa897;
    text-decoration: underline;
}
#links ul li {
    list-style: square outside url('images/list_marker.png');
    padding: 1px 0 0 12px;
    margin:10px 0 0 0;
}

.image_left img, .image_right img {
    margin: 5px 15px 0px 0px;
    padding: 5px;
    margin-left: 30px;
    border: 1px solid #f28900;
    border-radius: 5px;
}
.image_left img:hover, .image_right img:hover {
    border: 1px solid #52514e; 
    background: none;
}
.image_right img {
}

/*---------------------------------
FLUFF
-----------------------------------*/
#flower {
    position: absolute;
    z-index: 1;
    top: 120px;
    left: 750px;
}
#header {
    margin: 0;
    padding: 0;
    display: block;
    vertical-align: bottom;
}
#skyline {
    position: absolute;
    margin-bottom: 0;
    padding-bottom: 0;
    left: 978px;
    top: 70px;
}

